body {
    font-family: "Meiryo UI";
}

.status {
  line-height: 52px;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  zIndex: 10;
  position: absolute;
  background: #222222;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  width: 300px;
  border: 1px solid #aaa;
  font-weight: normal;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 0px 5px;
}

.react-autosuggest__suggestion--highlighted {
}
